# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
build/
.venv/
venv/
.env

# Poetry
poetry.lock

# Jupyter
.ipynb_checkpoints/

# OS / editors
.DS_Store
.idea/
.vscode/

# Project outputs / data
models/
signals_tracked/
data/auth/pin.json
data/auth/failed.txt
data/**/.DS_Store
/data/
